<html lang="en-us">
<head>
<title>hello</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta http-equiv="Pragma" content="no-cache">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Subfork is the easiest way to prototype, build, and share micro web applications">
</head>
<style>
body {
  background: #fff;
  color: #323335;
}
a {
  color: #44474d;
}
#hello {
  font-size: 45px;
  position: absolute;
  margin: 0 auto;
  left: 44%;
  top: 40%;
  color: rgb(73 82 90);
  font-family: arial;
}
</style>
<body>
    <div id="hello"><span>hello, world</span></div>
</body>
</html>